In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

First, Download Datasets Of the National Park: species and observations.

In [5]:
species_info = pd.read_csv("species_info.csv")
print(species_info.head(10))

observations = pd.read_csv("observations.csv")
print(observations.head(10))

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus
5   Mammal         Odocoileus virginianus
6   Mammal                     Sus scrofa
7   Mammal                  Canis latrans
8   Mammal                    Canis lupus
9   Mammal                    Canis rufus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN
5                                  White-Tailed Deer                 NaN
6                                Feral Hog, Wild Pig                 NaN
7                                             Coyote  Species of Concern
8                                          Gray Wolf          Endangered
9                                           Red Wolf          Endangered
                     scientific_name                            park_name  \
0                 Vicia benghalensis  Great Smoky Mountains National Park
1                     Neovison vison  Great Smoky Mountains National Park
2                  Prunus subcordata               Yosemite National Park
3               Abutilon theophrasti                  Bryce National Park
4           Githopsis specularioides  Great Smoky Mountains National Park
5  Elymus virginicus var. virginicus               Yosemite National Park
6                   Spizella pusilla            Yellowstone National Park
7                  Elymus multisetus  Great Smoky Mountains National Park
8             Lysimachia quadrifolia               Yosemite National Park
9         Diphyscium cumberlandianum            Yellowstone National Park

   observations
0            68
1            77
2           138
3            84
4            85
5           112
6           228
7            39
8           168
9           250

Second, Process of Cleaning Data Both Datasets

In [7]:
#Printing all the columns in both datasets
print("These are my species_info columns")
print(species_info.columns)
print("These are my observations columns")
print(observations.columns)

These are my species_info columns
Index(['category', 'scientific_name', 'common_names', 'conservation_status'], dtype='object')
These are my observations columns
Index(['scientific_name', 'park_name', 'observations'], dtype='object')

In [3]:
# Applying the .shape method in pandas to identify the number of rows and columns in our datasets
print("The Species Dataset have the next number of rows and columns", species_info.shape)
print("The observations Dataset have the next number of rows and column", observations.shape)

The Species Dataset have the next number of rows and columns (5824, 4)
The observations Dataset have the next number of rows and column (23296, 3)

In [4]:
#Applying the .duplicated() and drop_duplicates() functions to remove duplicate rows
Check_species_duplicated = species_info.duplicated()
print("These are my number of duplicates in my dataset species_info")
print(Check_species_duplicated.value_counts())
Check_observations_duplicated = observations.duplicated()
print("These are my number of duplicates in my dataset observations")
print(Check_observations_duplicated.value_counts())
species_info = species_info.drop_duplicates()
observations = observations.drop_duplicates()
print("The Species Dataset afeter eliminating duplicates have the next number of rows and columns", species_info.shape)
print("The observations Dataset afeter eliminating duplicates have the next number of rows and column", observations.shape)

These are my number of duplicates in my dataset species_info
False    5824
Name: count, dtype: int64
These are my number of duplicates in my dataset observations
False    23281
True        15
Name: count, dtype: int64
The Species Dataset afeter eliminating duplicates have the next number of rows and columns (5824, 4)
The observations Dataset afeter eliminating duplicates have the next number of rows and column (23281, 3)

In [5]:
#Identifying Data Type of each column with .dtypes
print("This is the data type of the dataset Species") 
print(species_info.dtypes)
print("This is the data type of the dataset Observations")
print(observations.dtypes)

This is the data type of the dataset Species
category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object
This is the data type of the dataset Observations
scientific_name    object
park_name          object
observations        int64
dtype: object

In [6]:
#Calculating the unique number of values in each dataset with .nunique()
print("Unique values per column of the dataset Species")
print(species_info.nunique())

print("Unique values per column of the dataset Observations")
print(observations.nunique())

Unique values per column of the dataset Species
category                  7
scientific_name        5541
common_names           5504
conservation_status       4
dtype: int64
Unique values per column of the dataset Observations
scientific_name    5541
park_name             4
observations        304
dtype: int64

In [7]:
# Counting the number of missing values in each dataset with .isna().sum()
print("Number of Missing Values in the dataset Species per column:")
print(species_info.isna().sum())
print("Number of Missing Values in the dataset Observations per column:")
print(observations.isna().sum())

Number of Missing Values in the dataset Species per column:
category                  0
scientific_name           0
common_names              0
conservation_status    5633
dtype: int64
Number of Missing Values in the dataset Observations per column:
scientific_name    0
park_name          0
observations       0
dtype: int64

In [8]:
#Identifying number of missing value in the dataset Species by category with pd.crosstab
pd.crosstab(
    species_info["category"], 
    species_info["conservation_status"].isna(),
    rownames=["category"], 
     colnames = ['Conservation is NAN']) 

#Notes: The category that we known less of their conservation status are Vascular plants (4424 nan) and non vascular Plants(328). 
#Alongside with the category birds with 442 Nan values on conservation status. Nan in this context mean we lack info.

Conservation is NAN  False  True
category
Amphibian                7     73
Bird                    79    442
Fish                    11    116
Mammal                  38    176
Nonvascular Plant        5    328
Reptile                  5     74
Vascular Plant          46   4424

In [19]:
#Questions to consider: ("Â¿How is distributed observation by category?, which park have the more observation of endagered species?, /
#what park has the most observation of species?

In [ ]:
#Notes: Grouping both dataset through the column scientific_name, although it would be interesting to check first if there similarities between 
#both columns. Investigate about how cientific names are composed so we could split string to perform analysis by specie or found a key column key.

In [ ]:
#Strategies to deal with missing values: 
#Method 1: drop all of the rows with a missing value. 
#Method 2: fill the missing values with the mean of the column, or with some other aggregate value.